<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myFirstBean" class="com.example.beans.MyFirstBean">
        <property name="mensaje" value="Hola Mundo spring!!!" />
    </bean>

    <bean id="GameRepository" class="com.example.repository.GameRepository" init-method="init"
        destroy-method="destroy">
    </bean>
    <!-- Inyección de dependencias por constructor -->
    <!-- <bean id="GameService" class="com.example.service.GameService"> 
        <constructor-arg ref="GameRepository" />
    </bean> -->

    <!-- Inyeccion de dependencias por setter -->
    <bean id="GameService" class="com.example.service.GameService" scope="prototype">
        <property name="gameRepository" ref="GameRepository" />
    </bean>

    <bean id="UserRepository" class="com.example.repository.UserRepository" init-method="init"
        destroy-method="destroy">
    </bean>

    <bean id="UserService" class="com.example.service.UserService" scope="prototype">
        <constructor-arg ref="UserRepository" />
    </bean>

</beans>